  // cart styling
  
  .woocommerce-cart {
    .woocommerce {
      @screen lg {
        @apply flex flex-wrap;
      }
    }
    .woocommerce-notices-wrapper {
      @apply w-full bg-gray-100 mb-8;
    }
    form {
      @apply w-full;
  
      .coupon {
        float: left;
      }

      .quantity {

        input[type=number] {
          @apply ml-auto #{!important};
        }
        label {
          @apply hidden;
        }
      }
      .qty {
        @apply ml-auto #{!important};
      }
  
      input[type="number"] {
        @apply rounded-md h-8 px-4 transition ease-in-out border-gray-500 border-opacity-100 duration-300 border w-20 ml-auto #{!important};
        &:focus {
          @apply outline-none border-black bg-white;
        }
      }
      input[type="text"] {
        @apply rounded-md h-10 px-4 transition ease-in-out border-gray-500 border-opacity-100 duration-300 border mx-4;
  
        &:focus {
          @apply outline-none border-black bg-white;
        }
      }
      .button {
        @apply py-3 px-5 w-fit mb-6;
        float: right;

        @screen lg {
          @apply mb-0;
        }
      }
  
      @screen lg {
        @apply w-[60%];
      }
  
      table {
        @apply w-full border pb-6 rounded-lg overflow-hidden;
        thead {
            background-color: #000;
            background-size: cover;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.08'%3E%3Cpath fill='%2308193e' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23091c45' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%230a1e4d' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%230b2154' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%230C245B' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23132c64' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%231b346c' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23253d73' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23304678' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%233D507C' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
          @apply text-white text-right p-4 hidden;
  
          @screen lg {
            display: revert;
          }
  
          tr {
            @apply mt-4;
  
            @screen lg {
              @apply mt-0;
            }
            th {
              @apply p-2 mt-4;
  
              @screen lg {
                @apply mt-0;
              }
            }
          }
         
          .product-remove {
            @apply bg-black;
          }
        }
        tr {
          @apply mt-8;
  
          @screen lg {
            @apply mt-0;
          }
        }
        td {
          @apply w-full block py-3 px-3 border-t text-right font-semibold bg-gray-100;
          @screen lg {
            @apply w-fit py-6 px-3;
            display: revert;
          }
        }
        .product-name {
          @screen lg {
            text-align: left !important;
          }
        }
  
        .button {
          @screen lg {
            @apply mt-0;
          }
        }
        tbody {
            tr {
                @apply bg-gray-100;
            }
          }
      }
  
      .product-thumbnail {
        a {
          img {
            @apply h-12 w-auto;
  
            @screen lg {
              @apply h-16 w-auto;
            }
          }
        }
      }
    }
    .woocommerce table.shop_table_responsive tr td::before,
    .woocommerce-page table.shop_table_responsive tr td::before {
      content: attr(data-title) " ";
      @apply w-[30%] font-semibold float-left text-left;
  
      @screen lg {
        @apply hidden;
      }
    }
  
    .cart-collaterals {
      @apply w-full mt-8 rounded-lg overflow-hidden;
  
      @screen lg {
        @apply w-[40%] pl-12 mt-0;
      }
      .cart_totals {
        @apply bg-gray-100 p-4 border;
  
        h2 {
          @apply text-xl;
        }
      }
      table {
        @apply w-full;
  
        tr {
          @apply mt-4 border-b;
  
          @screen lg {
            @apply mt-0;
          }
          th {
            @apply p-2 mt-4 hidden text-left;
  
            @screen lg {
              @apply mt-0;
              display: revert;
            }
          }
        }
  
        tr {
          @apply mt-8;
  
          @screen lg {
            @apply mt-0;
          }
        }
        td {
          @apply w-full block py-3 px-3 text-right font-semibold;
          @screen lg {
            @apply w-fit py-6 px-3;
            display: revert;
          }
        }
  
        input {
          @apply mr-2;
        }
  
        .button {
          @apply mt-0;
        }
      }
  
      #shipping_method {
        li {
          @apply mb-3 font-medium;

          label{
            @apply ml-2;
          }
        }
      }
      
    }
   
    .wc-proceed-to-checkout {
      .button {
        @apply w-full text-center mt-8;
      }
    }

    .payment_method_stripe_payment_request  {
      @apply flex #{!important};
      label {
        @apply flex justify-between;
      }
    }
  }

  .woocommerce-checkout.woocommerce-page {
    .woocommerce {
      @screen lg {
        @apply flex flex-wrap;
      }
  
      .woocommerce-notices-wrapper {
        @apply w-full;
      }
  
      .woocommerce-form-coupon-toggle {
        @apply w-full mb-8 bg-gray-50 p-2;
      }
  
      .woocommerce-checkout {
        @screen md {
          @apply flex;
        }
  
        .col2-set {
          @apply w-full;
  
          @screen md {
            @apply w-[55%];
          }
        }
        .woocommerce-checkout-review-order {
          @apply w-full;
  
          @screen md {
            @apply w-[45%] pl-16;
          }
        }
      }
    }
    .woocommerce-shipping-methods {
        li {
          @apply flex items-center justify-end;

          label {
            @apply ml-2;
          }
        }
      }
  }
  .woocommerce-checkout-review-order {
    .shop_table {
      @apply bg-gray-50 w-full p-6 rounded-lg overflow-hidden;
  
      th.product-name {
        @apply text-left;
      }
  
      thead {
        background-color: #000;
            background-size: cover;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.08'%3E%3Cpath fill='%2308193e' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23091c45' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%230a1e4d' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%230b2154' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%230C245B' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23132c64' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%231b346c' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23253d73' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23304678' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%233D507C' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
        @apply text-white;
        tr {
          th {
            @apply px-4 py-3;
          }
        }
      }
  
      tbody {
        @apply w-full;
  
        tr {
          @apply border-b;
  
          td {
            @apply px-4 py-2;
          }
        }
      }
  
      tfoot {
        tr {
          th {
            @apply px-4 py-2 text-right text-lg font-semibold;
          }
          td {
            @apply px-4 py-2 text-right;
          }
        }
      }
      .payment_method_stripe_payment_request {
        @apply flex;
      }
  
      .product-total {
        @apply text-right;
      }
      .woocommerce-Price-amount {
        @apply text-right;
      }
    }
  }
  .woocommerce-checkout-payment {
    @apply py-6 px-0;
  }
  .woocommerce-privacy-policy-text {
    @apply pt-5 px-0;
  }
  #order_review_heading {
    @apply hidden;
  }
  .wc_payment_method {
    @apply bg-gray-100 rounded-xl shadow p-3 mb-3;
  }
  
  // select two country dropdown
  .select2 {
    @apply py-3 px-4 border rounded-md border-gray-500;
    margin-bottom: 16px !important;
  
    &.select2-container--default {
      .select2-selection--single {
        @apply border-none;
  
        .select2-selection__rendered {
          @apply text-tiny font-normal px-0;
        }
      }
  
      .select2-selection--single .select2-selection__arrow {
        @apply top-1/2 transform -translate-y-1/2;
      }
    }
  }
  
  .select2-container--default .select2-dropdown {
    @apply border-gray-500 pt-2 text-black;
    margin-top: -8px;
  
    .select2-results__option--highlighted[aria-selected],
    .select2-results__option--highlighted[data-selected] {
      @apply bg-black;
    }
  
    .select2-results > .select2-results__options .select2-results__option {
      @apply text-tiny;
    }
  
    .select2-search__field {
      @apply rounded-md text-tiny py-2;
      border-color: rgb(220, 220, 220) !important;
    }
  }
  
  .select2-dropdown {
    @apply text-base;
    padding-top: 0 !important;
    width: 307.484px;
    border: 1px solid rgb(229, 231, 235) !important;
    border-top: none !important;
    top: 4px;
  }
  
  .select2-container--default
    .select2-dropdown
    .select2-results
    > .select2-results__options
    .select2-results__option {
    font-size: 1rem;
  }
  
  .select2.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    font-size: 1rem;
  }
  
  .woocommerce-shipping-fields {
    @apply my-6;
    span {
      @apply text-xl;
    }
  }
  
  ul.payment_methods li[class*=payment_method] {
    /* margin: 0; */
    padding: 10px!important;
    margin-bottom: 10px!important;
}
  // end cart styling

  .wc-stripe-card-icons-container {
    @apply mb-4;
  }