bdi {
  @apply font-semibold;
}

//category filters

.button.alt {
  @apply py-4 px-6 text-center w-fit;
}

.filter-box {
  .button {
    @apply py-3 px-6 bg-primary w-fit text-white font-medium;

    &:hover {
      @apply text-primary bg-transparent border-primary;
    }
  }
}

//end category filters

// shop page styling

.woocommerce-page {
  h1 {
    @apply text-4xl uppercase;

  }

  .woocommerce-message {
    @apply bg-gray-100 p-6 mb-10 text-center;

    @screen lg {
      @apply flex items-center justify-center text-left w-[70%] mx-auto
    }

    .wc-forward {
      @apply order-last -mt-1 block;

      @screen lg {
        @apply ml-5;
      }
    }
  }

  .woocommerce-result-count {
    @apply text-center text-sm font-medium mb-0;

    @screen lg {
      @apply text-left w-[70%];
    }
  }

  .woocommerce-ordering {
    @apply my-4 hidden;

    select {
      @apply rounded-md h-12 px-4 transition ease-in-out border-gray-800 border-opacity-100 duration-300 border mb-4;

      &:focus {
        @apply outline-none border-black bg-white;
      }
    }
  }

  .product_meta {
    @apply mb-6;
  }

  .term-description {
    @apply  mb-8;

    p {
      @apply mb-4;
    }
  }

  .products {
    @apply grid grid-cols-2 gap-4 mt-10;

    @screen lg {
      @apply grid grid-cols-4 gap-4;
    }

    .product {
      @apply relative mb-2 rounded pb-4 bg-white border border-gray-200 flex flex-col;

      .woocommerce-LoopProduct-link {
        @apply flex flex-col justify-between flex-grow;
      }

      img {
        @apply w-full h-[200px] object-contain;

        @screen lg {
          @apply w-full h-[275px] object-contain;
        }
      }
    }

    .advert {
      @apply relative mb-2 rounded bg-white border border-gray-200;

      img {
        @apply w-full h-full rounded;

        @screen lg {
          @apply w-full h-full object-cover;
        }
      }
    }

    h2 {
      @apply text-sm px-4 flex-grow mt-3 text-center;

      @screen lg {
        @apply text-base leading-[1.4];
      }
    }

    .price {
      @apply px-4 mb-6 text-xl mt-auto;

      bdi {
        @apply font-medium text-2xl;
      }
    }

    .button {
      @apply py-3 px-5 block w-fit mx-auto mt-auto;
    }

    .onsale {
      @apply bg-black absolute rounded-full h-12 w-12 text-sm flex items-center justify-center;

      @screen lg {
        @apply h-16 w-16;
      }
    }
  }

  .woocommerce-pagination {
    @apply mt-20;

    ul {
      @apply flex justify-center;

      li {
        @apply bg-black text-white mx-0.5 rounded flex items-center justify-center h-10 w-10;

        &:hover {
          @apply bg-black;
        }

        .page-numbers {
          @apply bg-black text-sm p-2 h-full w-full rounded text-center flex items-center justify-center text-white overflow-hidden;
        }

        .page-numbers.current {
          @apply bg-primary text-sm p-2 h-full w-full rounded text-center flex items-center justify-center;
        }
      }
    }
  }
}






.tax-product_cat {
  .woocommerce-info {
    @apply bg-black p-4 mt-12 font-semibold text-center text-white;

    @screen lg {
      @apply text-left p-8;
    }
  }
}

mark.count {
  @apply hidden;
}

// .woocommerce-loop-category__title,
// .woocommerce-loop-product__title {
//   @apply font-moderat mt-4;

//   @screen lg {
//     @apply block;
//   }

// }

.woocommerce-order-received {

  .woocommerce-thankyou-order-received {
    @apply text-3xl font-bold;

    @screen lg {
      @apply text-5xl;
    }
  }

  .woocommerce-order {
    @apply border border-black p-4;

    @screen lg {
      @apply w-[55%] mx-auto p-10;
    }
  }

  .woocommerce-order-details {
    @apply mt-8;

    .woocommerce-table--order-details {
      @apply w-full
    }

    .product-total {
      @apply text-right
    }

    .woocommerce-Price-amount {
      @apply text-right
    }

    .woocommerce-table__product-name {
      @apply text-left
    }

    tbody {
      tr {
        @apply border-b;

        td {
          @apply py-3
        }
      }
    }

    tfoot {
      @apply flex flex-wrap mt-8;

      tr {
        @apply w-full mb-4;
      }
    }

  }

  .woocommerce-customer-details {
    @apply mt-12;
  }

  .woocommerce-columns--2 {
    @apply flex flex-wrap;

    .woocommerce-column {
      @screen lg {
        @apply w-1/2;
      }
    }
  }

}

.added_to_cart {
  @apply font-medium pt-4 block border-b border-orange-500 w-fit mx-auto;
}

.product-category.product {
  a {
    img {

      @screen lg {
        @apply object-contain h-[250px] #{!important};
      }
    }
  }
}

.return-to-shop {
  @apply m-auto;
}
.cart-empty {
  @apply text-center;
}
.product-table {

  tr {
    @screen lg {
      @apply border;
    }

    td {
      @apply p-2;

      @screen lg {
        @apply p-1;
      }
    }
  }

}

.spec-table:nth-of-type(even) {
  @apply bg-gray-50;
}

.spec-table:nth-of-type(odd) {
  @apply bg-gray-100;
}
.uppercats {

  @apply mb-20;

  @screen lg {
    @apply mb-28 w-[70%] mx-auto;
  }

  ul.product-cats {

  @apply grid grid-cols-3 gap-4;

  @screen lg {
      @apply grid-cols-6;
  }

  li {
      @apply relative text-center w-full  rounded-full;

      img {
          @apply rounded-full mb-3 border border-black;
      }

      h2 {
          @apply text-base mt-2;
      }
  }
}
}

ul.shop-cats {

  li {
      @apply relative text-center w-full  rounded-full;

      img {
          @apply rounded-full mb-3 border border-black;
      }

      h2 {
          @apply text-base mt-2;
      }
  }
}

.element {
  width: 16px;
  height: 16px;
  animation-name: bounce;
  animation-duration: 2s, 2s;
  animation-iteration-count: infinite, infinite;
}

@keyframes bounce {
  from {
      transform: scale(1);
      animation-timing-function: ease-out;
  }
  25% {
    transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  50% {
    transform: scale(1.25);
      animation-timing-function: ease-out;
  }
  75% {
    transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  to {
    transform: scale(1);
  }
}
