// cart styling

.woocommerce-cart {
    .woocommerce {
        @screen lg {
            @apply flex flex-wrap;
        }
    }

    .woocommerce-notices-wrapper {
        @apply w-full bg-gray-100 mb-8 hidden;
    }

    .woocommerce-cart-form {
        @apply w-full;

        .coupon {
            float: left;
        }

        input[type="number"] {
            @apply rounded-md h-8 px-4 transition ease-in-out border-gray-500 border-opacity-100 duration-300 border w-20 ml-auto block;

            &:focus {
                @apply outline-none border-black bg-white;
            }

        }

        .quantity {
            label {
                @apply hidden;
            }
        }

        input[type="text"] {
            @apply rounded-md h-10 px-4 transition ease-in-out border-gray-800 border-opacity-100 duration-300 border mb-4;

            &:focus {
                @apply outline-none border-black bg-white;
            }

            @screen lg {
                @apply mx-4 mb-0;
            }
        }

        .button {
            @apply py-3 px-5 w-fit mb-8 mt-0;
            float: right;

            @screen lg {
                @apply mb-0;
            }
        }

        @screen lg {
            @apply w-full;
        }

        table {
            @apply w-full border pb-6;

            thead {
                @apply text-right p-4 hidden;

                @screen lg {
                    display: revert;
                }

                tr {
                    @apply mt-4;

                    @screen lg {
                        @apply mt-0;
                    }

                    th {
                        @apply p-2 mt-4;

                        @screen lg {
                            @apply mt-0;
                        }
                    }
                }
            }

            tr {
                @apply mt-8;

                @screen lg {
                    @apply mt-0;
                }
            }

            .product-remove {
                @apply bg-gray-100;

                @screen lg {
                    @apply bg-transparent;
                }
            }

            td {
                @apply w-full block py-3 px-3 border-t text-right font-semibold;

                @screen lg {
                    @apply w-fit py-6 px-3;
                    display: revert;
                }
            }

            .product-name {
                @screen lg {
                    text-align: left !important;
                }
            }

            .button {
                @screen lg {
                    @apply mt-0;
                }
            }
        }

        .product-thumbnail {
            a {
                img {
                    @apply h-12 w-auto;

                    @screen lg {
                        @apply h-16 w-auto;
                    }
                }
            }
        }
    }

    .woocommerce table.shop_table_responsive tr td::before,
    .woocommerce-page table.shop_table_responsive tr td::before {
        content: attr(data-title) " ";
        @apply font-semibold float-left text-left;

        @screen lg {
            @apply hidden;
        }
    }

    .cart-collaterals {
        @apply w-full mt-8;

        @screen lg {
            @apply w-[50%] pl-12 mt-0 mx-auto block mt-8;
        }

        .cart-subtotal {
            th {
                @apply text-left;
            }
        }

        .order-total {
            th {
                @apply text-left;
            }
        }

        .cart_totals {
            @apply bg-white p-4 border;

            h2 {
                @apply text-xl;
            }
        }

        table {
            @apply w-full;

            tr {
                @apply mt-4 border-b;

                @screen lg {
                    @apply mt-0;
                }

                th {
                    @apply p-2 mt-4 hidden;

                    @screen lg {
                        @apply mt-0;
                        display: revert;
                    }
                }
            }

            tr {
                @apply mt-8;

                @screen lg {
                    @apply mt-0;
                }
            }

            td {
                @apply w-full block py-3 px-3 text-right font-semibold;

                @screen lg {
                    @apply w-fit py-6 px-3;
                    display: revert;
                }
            }

            input {
                @apply mr-2;
            }

            .button {
                @apply mt-8 block;
            }
        }

        #shipping_method {
            li {
                @apply mb-3 font-medium;
            }
        }
        .wc-proceed-to-checkout {
            @apply text-center;
        }
    }
    .return-to-shop {
        @apply text-center;
    }
}
.wc-stripe-cart-checkout-container {
    margin: 0;
    padding: 0;
    clear: both;
    display: flex;
    justify-content: center;
}

// end cart styling