.h2 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 16px;
}
.contactitem {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid #f5f6f7;
}
.contactitem:nth-of-type(even) {
    background: #f6f7f8;
}
.contactitem h2 {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: bold;
}
.contactitem p {
    font-size: 16px;
    margin-bottom: 0;
}
.pagination {
    margin-top: 20px;
    text-align: right;
}
.pagination p {
    margin-bottom: 0px;
}

.button-user {
    background: #ccffd0;
    border-radius: 20px;
    padding: 8px 20px;
    display: block;
    margin: 0 auto;
    font-weight: semibold;
}
.button-submit {
    background: #42ff51;
    border-radius: 20px;
    padding: 8px 40px;
    display: block;
    margin: 20px auto;
}

.signup form div {
    width: 100%;
    padding: 0 5px;
}
.signup form div input {
    width: 100%;
    border-radius: 7px;
    padding: 7px;
}

.form-container {
    border: 1px solid #ccc;
    padding: 50px;
    width: 60%;
    border-radius: 7px;
    margin: 0 auto;
}

.is-invalid {
    border: 1px solid red;
}
.error-message {
    color: red;
    font-size: 12px;
}